In [9]:
import pandas as pd
data1 = pd.read_csv('fct_invoice.csv')
data2 = pd.read_json('dim_customer.json')
print(data1)
print(data2)

      invoice_no  customer_id         category  quantity    price  \
0        I138884          229         Clothing         5  1500.40
1        I317333         3433            Shoes         3  1800.51
2        I127801          644         Clothing         1   300.08
3        I173702         4900            Shoes         5  3000.85
4        I337046         1089            Books         4    60.60
...          ...          ...              ...       ...      ...
99452    I219422         2344         Souvenir         5    58.65
99453    I325143          172  Food & Beverage         2    10.46
99454    I824010          425  Food & Beverage         2    10.46
99455    I702964          577       Technology         4  4200.00
99456    I232867           30         Souvenir         3    35.19

      payment_method invoice_date     shopping_mall
0        Credit Card     5/8/2022            Kanyon
1         Debit Card   12/12/2021    Forum Istanbul
2               Cash    9/11/2021         Metrocity
3        Credit Card   16/05/2021      Metropol AVM
4               Cash   24/10/2021            Kanyon
...              ...          ...               ...
99452    Credit Card   21/09/2022            Kanyon
99453           Cash   22/09/2021    Forum Istanbul
99454     Debit Card   28/03/2021         Metrocity
99455           Cash   16/03/2021      Istinye Park
99456    Credit Card   15/10/2022  Mall of Istanbul

[99457 rows x 8 columns]
       age first_name gender     id last_name
0     48.0   Nicholas      M      0    Flores
1      NaN    Jeffery      M      1      Rowe
2     57.0     Alexis      F      2    Benton
3     73.0        Amy      F      3   Johnson
4     20.0      David      M      4     Moore
...    ...        ...    ...    ...       ...
5186   NaN     Arthur      M   9428    Harris
5187   NaN      David      M   9494       Roy
5188  85.0     Thomas      M  10350    Turner
5189   NaN      April      F  10587   Sanchez
5190   NaN     Andrew      M  10934   Compton

[5191 rows x 5 columns]

1. How many unique customers are in the dataset?

In [13]:
unique_customers = data1['customer_id'].nunique()
unique_customers

5191

2. What are the different categories of products available? How many unique categories are there?

In [15]:
unique_categories = data1['category'].unique()
unique_category_count = len(unique_categories)
unique_categories, unique_category_count

(array(['Clothing', 'Shoes', 'Books', 'Cosmetics', 'Food & Beverage',
        'Toys', 'Technology', 'Souvenir'], dtype=object),
 8)

3. Which payment method is the most popular? How many times was it used?

In [17]:
payment_method_counts = data1['payment_method'].value_counts()
most_popular_payment_method = payment_method_counts.idxmax()
most_popular_payment_method_count = payment_method_counts.max()

most_popular_payment_method, most_popular_payment_method_count

('Cash', 44447)

1. What are the three most popular categories, by total sales?

In [19]:
data1['total_sales'] = data1['quantity'] * data1['price']
category_sales = data1.groupby('category')['total_sales'].sum().sort_values(ascending=False)
top_three_categories = category_sales.head(3)

top_three_categories

category
Clothing      1.139968e+08
Shoes         6.655345e+07
Technology    5.786235e+07
Name: total_sales, dtype: float64

2. What are the total sales attributed to customers over the age of 45?

In [29]:
customer_df = pd.DataFrame(data2)
customer_df.head()
data1['customer_id'] = data1['customer_id'].astype(int)
customer_df['id'] = customer_df['id'].astype(int)
merged_data = pd.merge(data1, customer_df, left_on='customer_id', right_on='id', how='left')
over_45_data = merged_data[merged_data['age'] > 45]
total_sales_over_45 = over_45_data['total_sales'].sum()
total_sales_over_45

82039768.15

3. How is the data distributed across different invoice dates? Are there any seasonal trends or patterns? (Use a graph for this.)

1. Create a pivot table showing the breakdown of sales across these dimensions, in this order: category, decade age range (e.g., 10-19, 20-29, and so forth).

In [37]:
customer_df['decade_age'] = customer_df['age'].apply(lambda x: f"{int(x//10)*10}-{int(x//10)*10 + 9}" if pd.notna(x) else 'Unknown')
full_data = pd.merge(data1, customer_df[['id', 'decade_age']], left_on='customer_id', right_on='id', how='left')
pivot_table_sales = full_data.pivot_table(values='total_sales', index='category', columns='decade_age', aggfunc='sum', fill_value=0)
pivot_table_sales

decade_age,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-89,Unknown
category,,,,,,,,,
Books,12801.75,79461.75,84143.10,87203.40,74962.20,80476.80,54827.85,26664.00,334012.05
Clothing,1927413.84,10250732.80,11354126.96,11215189.92,10321851.76,10660642.08,7769371.28,4493698.00,46003764.40
Cosmetics,109619.36,605915.32,723544.70,665034.96,587780.96,649990.76,419082.62,254531.60,2777362.62
Food & Beverage,13582.31,73491.96,87246.86,89553.29,72425.04,80976.09,55050.98,31332.93,345875.59
Shoes,993281.35,5924878.24,7200839.66,7025590.02,5852857.84,5978893.54,4480269.05,2628744.60,26468097.17
Souvenir,12375.15,54943.32,64092.72,66391.80,54943.32,55025.43,38673.81,23718.06,265661.04
Technology,1129800.00,5261550.00,6159300.00,5954550.00,4435200.00,5471550.00,3638250.00,1946700.00,23865450.00
Toys,60426.24,385100.80,420582.40,390906.88,345067.52,363955.20,273244.16,153932.80,1587210.24